<footer id="footer" class="well">
    <div class="container">
        <div class="text-center center-block">
            <a href="https://www.digidad.me.uk"><i id="social-fb" class="fa fa-rss-square fa-3x social"></i></a>
            <a href="https://www.facebook.com/gpimblott"><i id="social-fb"
                                                            class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://twitter.com/gpimblott"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="https://plus.google.com/+gpimblott"><i id="social-gp"
                                                            class="fa fa-google-plus-square fa-3x social"></i></a>
            <a href="https://github.com/gpimblott"><i id="social-em" class="fa fa-github fa-3x social"></i></a>
        </div>
        <hr>
    </div>

</footer>