<div class="jumbotron" style="margin-top: 10pt">
    <div class="container">
        <div class="row">
            <div class="col-md-2 myCentre">
                <div>
                    <img src="/android-chrome-512x512.png" width="150" style="margin-top: 25pt">
                </div>
            </div>
            <div class="col-md-10 myCentre">
                <div>
                    <h1>Inspire Viewer</h1>
                    <p>I have recently been investigating the <a href="http://inspire.ec.europa.eu/">EU Inspire</a>
                        regulations for a work project. Lots of datasets have been made available, but they are
                        scattered across multiple pages in a variety of formats.</p>
                    <p>
                        Some are VERY slow to respond - so be patient</p>
                    <p>
                        This site uncovers a small subset of the UK GOV data that has been made available. All viewable
                        on a single <a
                            href="/map">map</a></p>
                </div>
                <h2 align="centre"><a href="/map">View Map</a></h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>How it works...</h3>
            <hr>
            <h4 class="text-center">Top&nbsp;<span class="label label-primary">Place name search Box</span></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4 text-right">
                <h4>Top Left <span class="label label-primary">&nbsp;Zoom In/Out</span></h4>
            </div>
            <div class="col-md-4">
                <img src="screenshot.png" class="img-responsive">
            </div>
            <div class="col-md-4">
                <h4><span class="label label-primary">Layer selection</span>&nbsp;Top Right </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center"><span class="label label-primary">Easy !</span></h4>
            <h3>Original datasets</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3><a href="https://data.gov.uk/data/search?publisher=environment-agency&q=" target="_blank">Environment
                Agency</a></h3>
            <p>The environment agency provides...</p>
            <ul>
                <li>
                    <a href="https://data.gov.uk/dataset/risk-of-flooding-from-rivers-and-sea1/resource/fa849653-c4f1-44c6-965c-4eadb2aefb37"
                       target="_blank">Rick
                        of flooding from rivers and the sea</a></li>
                <li>
                    <a href="https://data.gov.uk/dataset/historic-flood-map1/resource/01365c1f-5a1c-4b0a-8591-c3bed9cf0fd0"
                       target="_blank">Historic Flood Map</a></li>
                <li>
                    <a href="https://data.gov.uk/dataset/historic-landfill1/resource/b6d8a2f0-2ae1-4025-ad94-b3ab94920ad9"
                       target="_blank">Historic Landfill</a></li>
                <li>
                    <a href="https://data.gov.uk/dataset/lidar-composite-dtm-25cm1/resource/ad0fd82b-a70b-4100-a3d7-4903b8413906"
                       target="_blank">25cm Digital Terrain Model LIDAR Radar</a></li>
                <li>
                    <a href="https://data.gov.uk/dataset/lidar-composite-dtm-50cm1/resource/ad0fd82b-a70b-4100-a3d7-4903b8413906"
                       target="_blank">50cm Digital Terrain Model LIDAR Radar</a></li>
                <li><a href="https://data.gov.uk/dataset/lidar-composite-dtm-2m1" target="_blank">1m Digital Terrain
                    Model LIDAR Radar</a></li>
                <li><a href="https://data.gov.uk/dataset/lidar-composite-dtm-2m1" target="_blank">2m Digital Terrain
                    Model LIDAR Radar</a></li>

            </ul>
        </div>
        <div class="col-md-4">
            <h3><a href="https://data.gov.uk/data/search?publisher=land-registry&q=land+registry" target="_blank">Land
                Registry</a></h3>
            <p>Land registry provides...</p>
            <ul>
                <li>
                    <a href="https://data.gov.uk/dataset/land-registry-inspire-view-service-and-metadata/resource/a7ce9e96-ee5d-4e5c-aff7-7b6e3b27968a"
                       target="_blank">Land Registry's INSPIRE index polygons</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>
                <a href="https://data.gov.uk/data/search?q=Communities&publisher=department-for-communities-and-local-government"
                   target="_blank">
                    Department for Communities and Local Government </a></h3>
            <p>The Department for Communiies and Local Government provides...</p>
            <ul>
                <li><a href="https://data.gov.uk/dataset/english-local-authority-green-belt-dataset1" target="_blank">Greenbelt
                    2015-16</a></li>
                <li><a href="https://data.gov.uk/dataset/english-local-authority-green-belt-dataset1" target="_blank">Greenbelt
                    2011-12</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3><a href="https://data.gov.uk/data/search?q=&publisher=department-for-environment-food-and-rural-affairs"
                   target="_blank">
                Department for Environment, Food and Rural Affairs</a></h3>
            <p>The Department of the Environment, Food and Rural Affairs provides...</p>
            <ul>
                <li><a href="https://data.gov.uk/dataset/road-noise-laeq-16h-england-round-21" target="_blank">Road
                    Noise</a></li>
                <li><a href="https://data.gov.uk/dataset/rail-noise-laeq-16h-england-round-21" target="_blank">Rail
                    Noise</a></li>
                <li>
                    <a href="https://data.gov.uk/dataset/environmental-noise-directive-end-noise-mapping-agglomerations-england-round-2"
                       target="_blank">Road noise mapping</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3><a href="https://data.gov.uk/data/search?q=&publisher=natural-england" target="_blank">Natural
                England</a></h3>
            <p>Natural England provides...</p>
            <ul>
                <li><a href="https://data.gov.uk/dataset/provisional-agricultural-land-classification-alc"
                       target="_blank">Agricultural Land Classification</a></li>
                <li><a href="https://data.gov.uk/dataset/ancient-woodlands-england2" target="_blank">Ancient
                    Woodland</a></li>
                <li><a href="https://data.gov.uk/dataset/areas-of-outstanding-natural-beauty-england" target="_blank">Areas
                    of outstanding natural beauty</a></li>
                <li><a href="https://data.gov.uk/dataset/marine-conservation-zones-england1" target="_blank">Marine
                    Conservation zones</a></li>
                <li><a href="https://data.gov.uk/dataset/national-nature-reserves-england1" target="_blank">Nature
                    reserves</a></li>
                <li><a href="https://data.gov.uk/dataset/sites-of-special-scientific-interest-england2" target="_blank">Areas
                    of Special Scientific Interest</a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3>
                <a href="https://data.gov.uk/data/search?q=scottish+government&publisher=scottish-government-spatial-data-infrastructure"
                   target="_blank">Scottish Government</a></h3>
            <p>The Scottish Government spatial data infrastructure...</p>
            <ul>
                <li><a href="https://data.gov.uk/dataset/environmentally-sensitive-areas" target="_blank">Environmentally
                    sensitive areas</a></li>
                <li><a href="https://data.gov.uk/dataset/national-scenic-areas" target="_blank">National Scenic
                    Areas</a></li>
                <li><a href="https://data.gov.uk/dataset/cairngorms-national-park-designated-boundary" target="_blank">Cairngorms
                    National Park</a></li>
                <li>
                    <a href="https://data.gov.uk/dataset/loch-lomond-and-the-trossachs-national-park-designated-boundary"
                       target="_blank">Loch Lomond and Trossachs National Park</a></li>
            </ul>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Historic England</h3>
            <p>Historic England provides...</p>
            <ul>
                <li><a href="https://data.gov.uk/dataset/natural-england-inspire-wms-service" target="_blank">Listed
                    Buildings</a></li>
                <li><a href="https://data.gov.uk/dataset/natural-england-inspire-wms-service" target="_blank">World
                    Heritage Sites</a></li>
                <li><a href="https://data.gov.uk/dataset/natural-england-inspire-wms-service" target="_blank">Registered
                    Battlefields</a></li>
                <li><a href="https://data.gov.uk/dataset/natural-england-inspire-wms-service" target="_blank">Protected
                    Wrecks</a></li>
            </ul>
        </div>
        <div class="col-md-4">

            <h3><a href="http://maps.nls.uk/index.html">National Library of Scotland</a></h3>
            <p>National Library of Scotland...</p>
            <ul>
                <li><a href="http://maps.nls.uk/projects/api/" target="_blank">1919-47 OS Maps</a></li>

            </ul>

        </div>

        <div class="col-md-4">

        </div>

    </div>


</div>