<div class="jumbotron" style="margin-top: 10pt">
    <div class="container">
        <div class="row">
            <div class="col-md-2 myCentre">
                <div>
                    <img src="/android-chrome-512x512.png" width="150" style="margin-top: 25pt">
                </div>
            </div>
            <div class="col-md-10 myCentre">
                <div>
                    <h1>Inspire Viewer</h1>
                    <p>I have recently being investigating the <a href="http://inspire.ec.europa.eu/">EU Inspire</a>
                        regulations for a work project. Lots of datasets have been made available, but they are
                        scattered across multiple pages in lots of formats.
                        I have also found that many are no longer working or not publically accessible :(</p>
                    <p>
                        This site uncovers some of the UK GOV data that has been made available on a single <a href="/map">map
                        view</a></p>
                </div>
                <h2 align="centre"><a href="/map">View Map</a></h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2>Links to original datasets</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Environment Agency</h2>
            <p>The environment agency provides...</p>
            <ul>
                <li>
                    <a href="https://data.gov.uk/dataset/risk-of-flooding-from-rivers-and-sea1/resource/fa849653-c4f1-44c6-965c-4eadb2aefb37" target="_blank">Rick
                        of flooding from rivers and the sea</a></li>
                <li>
                    <a href="https://data.gov.uk/dataset/historic-flood-map1/resource/01365c1f-5a1c-4b0a-8591-c3bed9cf0fd0" target="_blank">Historic
                        Flood Map</a></li>
                <li>
                    <a href="https://data.gov.uk/dataset/historic-landfill1/resource/b6d8a2f0-2ae1-4025-ad94-b3ab94920ad9" target="_blank">Historic
                        Landfill</a></li>
                <li>
                    <a href="https://data.gov.uk/dataset/lidar-composite-dtm-50cm1/resource/ad0fd82b-a70b-4100-a3d7-4903b8413906" target="_blank">50cm
                        LIDAR Radar</a></li>
                <li><a href="https://data.gov.uk/dataset/lidar-composite-dsm-1m1" target="_blank">1m LIDAR Radar</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Land Registry</h2>
            <p>Land registry provides...</p>
            <ul>
                <li>
                    <a href="https://data.gov.uk/dataset/land-registry-inspire-view-service-and-metadata/resource/a7ce9e96-ee5d-4e5c-aff7-7b6e3b27968a" target="_blank">Land
                        Registry's INSPIRE index polygons</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Department for Communities and Local Government </h2>
            <p>The Department for Communiies and Local Government provide...</p>
            <ul>
                <li><a href="https://data.gov.uk/dataset/english-local-authority-green-belt-dataset1" target="_blank">Greenbelt
                    2015-16</a></li>
                <li><a href="https://data.gov.uk/dataset/english-local-authority-green-belt-dataset1" target="_blank">Greenbelt
                    2011-12</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Department for Environment, Food and Rural Affairs</h2>
            <p>The Department of the Environment, Food and Rural Affairs provide....</p>
            <ul>
                <li><a href="https://data.gov.uk/dataset/road-noise-laeq-16h-england-round-21" target="_blank">Road Noise</a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>More data</h2>
            <p>View stories based on labels</p>
            <ul>
                <li><a href="/">option</a></li>
                <li><a href="/">option</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2></h2>
            <p>Some text</p>
            <ul>

            </ul>
        </div>
    </div>

    <hr>
