<div class="col-md-12" id="map">

</div>

<script language="JavaScript" src="/js/overlays.js"></script>
<script language="JavaScript" src="/js/leaflet-map.js"></script>
<script language="JavaScript">
    $(window).ready(function () {

        $("#search").on("submit", function (event) {

            event.preventDefault();

            var query = $("#q").val();

            $.getJSON("http://locationiq.org/v1/search.php?key={{locationiq_key}}&countrycodes=gb&format=json&q=" + query)
                    .done(function (data) {
                        var found = data[ 0 ];

                        if (found != undefined) {
                            map.setView([ found.lat, found.lon ], 10);
                        }
                    });

        });

    });
</script>
