<div class="col-md-12" id="mapid">
    <div class="col-md-4 col-md-offset-4" style="margin-top: 20px">
        <form id="search" class="form-horizontal center-block">
            <div class="info legend leaflet-control form-group" id="control">
                <div id="location-lookup" class="form-inline">
                    <input autocomplete="off" placeholder="Search" class="form-control" id="q" width="100"
                           type="text"/>
                    <input type="submit" class="button form-control" id="search-button" role="button" value="Search"/>
                </div>
            </div>
        </form>
    </div>
</div>

<script language="JavaScript" src="/js/overlays.js"></script>

<script language="JavaScript">

    var map = new L.Map('mapid');

    // create the tile layer with correct attribution
    var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
    var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 18, attribution: osmAttrib});


    // start the map in South-East England
    map.setView(new L.LatLng(53, -2.5),6.5);
    map.addLayer(osm);

    // Base World map
    var mapBoxStreets = L.tileLayer(
            'https://api.mapbox.com/styles/v1/mapbox/streets-v10/tiles/256/{z}/{x}/{y}?access_token={accessToken}', {
                accessToken: '{{mapbox_token}}',
                attribution: 'Streets © <a href="http://www.mapbox.com">Mapbox</a>'
            });

    var mapBoxSatellite = L.tileLayer(
            'https://api.mapbox.com/styles/v1/gpimblott/cizl21vq3000p2snuftwgj7q1/tiles/256/{z}/{x}/{y}?access_token={accessToken}', {
                accessToken: '{{mapbox_token}}',
                attribution: 'Satellite © <a href="http://www.mapbox.com">Mapbox</a>'
            });

    // Create the layer control
    var baseLayers = {
        "Open Street Map": osm,
        "Map Box Street": mapBoxStreets,
        "Map Box Satellite": mapBoxSatellite
    };

    var overlays = {};

    overlayData.forEach(function (server) {
        var overlay = null;
        var opacity = 1.0;
        if( server.opacity != undefined) {
            opacity = server.opacity;
        }

        if (server.tiled) {
            overlay = L.tileLayer.wms(server.url, {
                layers: server.layers,
                format: 'image/png',
                transparent: true,
                attribution: server.attribution,
                opacity: opacity
            });
        } else {
            overlay = L.WMS.overlay(server.url, {
                format: 'image/png',
                layers: server.layers,
                transparent: true,
                attribution: server.attribution,
                opacity: opacity
            });
        }

        overlays[ server.name ] = overlay;
    });


    L.control.layers(baseLayers, overlays).addTo(map);

</script>

<script>
    $(window).ready(function(){

        $("#search").on("submit", function(event){

            event.preventDefault();

            var query = $("#q").val();

            $.getJSON("http://locationiq.org/v1/search.php?key={{locationiq_key}}&countrycodes=gb&format=json&q=" + query)
                    .done(function(data){
                        var found = data[0];

                        if( found != undefined) {
                            map.setView([ found.lat, found.lon ], 10);
                        }
                    });

        });

    });
</script>