<div class="col-md-12" id="map">
</div>
<script type="text/javascript" src="https://nls.tileserver.com/api.js"></script>
<script language="JavaScript" src="/js/overlays.js"></script>
<script type="text/javascript" src="/js/openlayers-map.js"></script>

<script>
    $(window).ready(function () {

        $("#search").on("submit", function (event) {

            event.preventDefault();

            var query = $("#q").val();

            $.getJSON("http://locationiq.org/v1/search.php?key={{locationiq_key}}&countrycodes=gb&format=json&q=" + query)
                    .done(function (data) {
                        var found = data[ 0 ];

                        if (found != undefined) {
                            var pos = ol.proj.transform([ parseFloat(found.lon), parseFloat(found.lat) ], 'EPSG:4326', 'EPSG:3857')
                            map.setView(new ol.View({
                                center: pos,
                                zoom: 12,
                                projection: 'EPSG:3857'
                            }));

                        }
                    });
        });

    });
</script>