.normal-page {
    padding-top: 50px;
}

.index-page {
    padding-top: 0px;
}

#mapid {
    height: 100%;
    width: 100%;
    min-height: 100%;
}

html, body {
    height: 100%;
}

.fill {
    min-height: 100%;
    height: 100%;
}